@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: garetRegular;
  src: url("./content/font/Garet-Regular.ttf");
}

@font-face {
  font-family: garetBold;
  src: url("./content/font/Garet-Bold.ttf");
}

body {
  margin: 0;
  font-family: garetBold, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #76b34c;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 700ms ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-normal {
  font-family: garetRegular, sans-serif;
}
